<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Perception</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Perception</h1>
      <form class="form-horizontal" method="POST">
          <div class="form-group row">
              <label class="col-form-label col-md-2">Caption String</label>
              <div class="col-md-8">
                <input type="text" class="form-control">
              </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-md-2">Settings</label>
            <div class="form-check col-sm-2">
              <input type="checkbox" class="form-check-input" id="inputKey">
              <label class="form-check-label" for="inputKey">Bold</label>
            </div>
            <div class="form-check col-sm-2">
              <input type="checkbox" class="form-check-input" id="inputKey">
              <label class="form-check-label" for="inputKey">Underlined</label>
            </div>
            <div class="form-check col-sm-2">
              <input type="checkbox" class="form-check-input" id="inputKey">
              <label class="form-check-label" for="inputKey">Italicize</label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-form-label col-sm-2">Start Time</label>
            <div class="col-sm-3">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-sm-2">End Time</label>
            <div class="col-sm-3">
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label col-md-2"></label>
            <button type="button" class="btn btn-outline-primary col-sm-1 ">Submit</button>
            <button type="reset" class="btn btn-outline-secondary col-sm-1">Reset</button>
          </div>
          

      </form>

    </div>
    
  </body>
</html>